@import 'constants';
@import '../../../node_modules/normalize.css';

// ***** General Style *****
* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  font-family: $font-family;
}

body {
  min-height: 100%;
  // sass-lint:disable no-important
  overflow-x: hidden !important;
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
  color: $text-color;
}

.steps {
  position: relative;
  z-index: 1;
  height: 100%;

  section {
    max-width: $step-max-width;
    margin: auto auto 100vh;

    &:first-child {
      margin-top: 0;
      transform: translateY(-50%);
    }

    &:last-child {
      margin-bottom: 0;
      transform: translateY(50%);
    }

    h1 {
      font-size: $step-heading-font-size * 1.5;
      line-height: 1.3em;
    }

    h2 {
      font-size: $step-heading-font-size*1.5;
    }
  }
}

// ***** Main *****
main {
  position: relative;
}

.background {
  background-color: rgb(18,27,104)//rgb(176,24,41);
}

.text-section {
  max-width: $text-max-width;
  padding: 1em 25px; //$main-padding
  margin: auto auto; //5em auto
  box-sizing: content-box;

  h1 {
    color: black;
    margin-bottom: 1.5em
  }


  &.intro h1 {
    font-size: 1.5em;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  h2 {
    font-size: $step-heading-font-size*1.25;
    color: black;
    margin-bottom: 1em
  }

  p {
    margin-bottom: 0.8em;
    color: grey
  }
}

.sticky {
  z-index: 1;
  max-width: $text-max-width;
  padding: 2em 25px 0.5em; //$main-padding
  margin: auto auto; //5em auto
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: content-box;
  position: sticky;
  top: 0px;
  //padding: 10px 0px;
}

.start {
  height: 100px;
}

.end {
  height: 500px;
}

table {
  position:relative;
  left:50%;
  transform:translateX(-50%);
  border-collapse: collapse;
  //width: 50%;
  font-size: 14px;
  
}

td {
  padding: 10px;
}

tr, th {
  border-bottom: 1px solid #ddd;
  height:40px;
  padding: 10px;
}
tr:last-child {
  border : none
}

.value {
  text-align: right;
}

.title {
  text-align: left;
}



.viz-section {
  position: relative;
  display: flex;
  padding: $main-padding;

  >.steps {
    padding-top: 50vh;
    padding-bottom: 50vh;
    flex-basis: 100% - $vis-width;

    section p {
      color: $step-text-color;
    }
  }

  >.viz {
    // sass-lint:disable no-vendor-prefixes
    position: -webkit-sticky;
    // sass-lint:disable no-duplicate-properties
    position: sticky;
    top: 0;
    width: $vis-width;
    height: $vis-height;
    min-height: $vis-height;
    flex-basis: $vis-width;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.svg-tooltip {
  background: rgba(69,77,93,.9);
  border-radius: .1rem;
  color: #fff;
  display: block;
  font-size: 14px;
  max-width: 500px;
  padding: .2rem .4rem;
  position: absolute;
  text-overflow: ellipsis;
  white-space: pre;
  z-index: 300;
  visibility: hidden;
}

.label {
  text-align: center;
  text-anchor: middle;
  font-size: 12px;
  stroke: white;
  stroke-width: 0.3px

}

.cartesianlabel {
  text-align: center;
  text-anchor: left;
  font-size: 14px;

}

// ***** Mobile *****
@media screen and (max-width: $large-screen) {
  html {
    font-size: 11pt;
  }

  p {
    line-height: 1.5em;
  }

  .steps section {
    padding: $step-padding;
  }

  .viz-section {
    position: relative;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    >.steps {
      padding: 0 $main-padding-left-right 100vh;
      flex-basis: 100%;

      section {
        background-color: $step-background-color;
        border: 1px solid $step-border-color;
        backdrop-filter: blur(3px);
      }

      section:first-child,
      section:last-child {
        transform: translateY(0%);
      }
    }

    >.viz {
      z-index: -1;
      width: 100%;
      flex-basis: 100%;
    }
  }
}

@media screen and (max-width: $small-screen) {
  html {
    font-size: $small-screen-base-font-size;
  }
}



// Slope chart



.axis-label {
  font-size: 20px;
  cursor: default;
  font-weight: 400;
}

.tick {
  font-size: 12px;
  cursor: default;
  font-weight: 400;
}